---
layout: default
title: Web design and development
css: main
js: blog
---
<section class="intro">
  <div class="video-container">
    <video autoplay loop>
  		<source src="dist/video/test2.mp4" type="video/mp4">
  		<source src="dist/video/test2.webm" type="video/webm">
		</video>
  </div>
  <div class="video-overlay"></div>
  <header class="content-wrapper more-padding-bottom">
    <h1 class="less-padding-top uppercase bold"><span>Design and code for the web</span></h1>
    <p><span>I am currently working with <a href="http://restfuldesign.com">restfuldesign.com</a> and <a href="http://clouddesign.in">clouddesign.in</a> on projects ranging from landingpages to e-commerce websites. If you'd like to work with me, drop me an <script type="text/javascript">eval(unescape("%6a%78%77%69%71%32%39%3d%5b%27%25%36%62%25%36%66%25%36%35%27%2c%5b%27%25%37%33%25%36%35%27%2c%27%25%36%64%25%37%35%25%37%33%25%36%33%25%36%31%27%5d%2e%72%65%76%65%72%73%65%28%29%2e%6a%6f%69%6e%28%27%2e%27%29%5d%2e%6a%6f%69%6e%28%27%40%27%29%3b%65%66%6d%6f%72%35%38%3d%27%65%6d%61%69%6c%27%3b%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%65%66%6d%6f%72%35%38%2e%6c%69%6e%6b%28%27%6d%61%69%27%2b%27%6c%74%6f%3a%27%2b%6a%78%77%69%71%32%39%29%29%3b"));</script>.</span></p>
    <!-- <h2>and loves simple design and new internet technolegies</h2> -->
    <!-- <img src="/dist/img/KOE-face.jpg" width="120" height="120" class="align-center margin-top float-center">   -->
    <!-- <a class="border-button float-center hire-me margin-top" href="mailto:contact@musca.se">Hire me!</a> -->
    <a href="#grid" class="float-center"><svg width="60" height="60" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg"><title>show-more-arrow</title><g transform="translate(2 2)" fill="none" fill-rule="evenodd"><circle stroke="#535151" stroke-width="3" cx="28" cy="28" r="28"/><path d="M16.907 23.518l11.765 11.725 11.737-11.75" stroke="#525151" stroke-width="2"/></g></svg></a>
  </header>     
</section>
<section class="portfolio more-padding-top align-center content-wrapper clear" id="grid" data-columns>
  <div>
    <div>
      <a href="http://restfuldesign.github.io/restfuldesign.com/" rel="nofollow">
        <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/dist/img/rd.jpg" alt="Full jQuery window width content slider">
        restfuldesign.com
      </a>
      <p>HTML, SCSS and JS</p>
    </div>
  </div>
  <div>
    <div>
      <a href="http://www.rolandpersson.com">
        <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/dist/img/roland-persson-ipad-white.jpg" alt="Roland Persson Photographer">
        rolandpersson.com
      </a>
      <p>Design and initial code</p>
    </div>
  </div>
  <div>
    <div>
      <img class="box-shadow b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/dist/img/vinyl-animation.gif" alt="Full window background video">
      <p>Design, code and video editing</p>
    </div>
  </div>
  <div>
    <div>
      <a class="disabled" href="http://www.jofjell.se">
        <img class="box-shadow b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/dist/img/per-jofjell.jpg" alt="www.jofjell.se">
        jofjell.se
      </a>
      <p>
        Design and code
      </p>
    </div>
  </div>
  <div>
    <div>
      <a href="/full-window-width-jquery-tools-content-slider-demo/" title="Full jQuery window width content slider">
        <img alt="Full window width content slider" class="box-shadow" src="/dist/img/fwwcs.jpg">
      </a>
      <p>jQuery, HTML and CSS</p>
    </div>
  </div>
</section>
<section class="blog">
  <h2>latest from the blog</h2>
  {% assign post = site.posts.first %}
  <div class="post-wrapper more-padding-top more-padding-bottom item{{ counter }} {{ post.color }}" style="{% if post.bgColor %}background-color: #{{ post.bgColor }}; {% endif %}{% if post.bgImg %}background-image:url(/dist/img/{{ post.bgImg }});{% endif %}">
    <div class="grid content-wrapper">
      <div class="unit half">
        <a href="{{ post.url }}">
          <h2 class="align-left padding-right uppercase">{{ post.title }}</h2>
          <svg class="margin-top" width="441" height="393" viewBox="0 0 441 393" xmlns="http://www.w3.org/2000/svg"><title>read more arrow</title><path d="M331.87 226H0v-56h334.902L204.767 39.865 244.365.267l195.868 195.868-.114.115.347.348-195.87 195.87-39.597-39.6L331.87 226z" fill="#444" fill-rule="evenodd"/></svg>
        </a>
      </div>
      <div class="unit half">
        {% if post.headerImg %}
        <img src="/dist/img/{{ post.headerImg }}" width="256" class="header-image more-margin-bottom float-center">
        {% endif %}
        {{ post.excerpt }}
      </div>
    </div> 
  </div>
</section>
<section class="github more-padding-top more-padding-bottom content-wrapper">
  <h2>Some of <a href="http://github.com/musca">my GitHub stuff</a></h2>
  <div class="grid">
    <div class="unit w-1-2">
      <img class="float-center margin-top" alt="octocat" src="/dist/img/octocat.svg">       
    </div>
    <div class="unit w-1-2">
       <ul class="github-projects"></ul>
    </div>
  </div>
  <a href="https://gitter.im/musca/musca.github.io?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=badge" class="float-center gitter" target="_blank"><img src="https://camo.githubusercontent.com/da2edb525cde1455a622c58c0effc3a90b9a181c/68747470733a2f2f6261646765732e6769747465722e696d2f4a6f696e253230436861742e737667" alt="Join the chat at https://gitter.im/musca/musca.github.io" data-canonical-src="https://badges.gitter.im/Join%20Chat.svg" style="max-width:100%;"></a>
</section>
<section class="flickr more-margin-top content-wrapper">
  <h3>Random pics from my flickr stream</h3>
  <div class="flickrLoader">
    <img src="dist/img/grid.svg" width="60" height="60">
  </div>
  <ul class="flickr-feed unit whole"></ul>
  <a href="http://flickr.com/karl-oskar" class="more-flickr-photos">See more photos</a>
</section>
<script>
  // var grid = document.getElementById(grid);
 //  salvattore.register_grid(grid);
</script>