---
layout: default
title: a design and dev blog
css: main
js: blog
---
{% for post in site.posts %}
<div class="post-wrapper more-padding-top more-padding-bottom" {% if post.bgColor %}style="background-color: #{{ post.bgColor }};"{% endif %}>
  <div class="grid content-wrapper">
    <div class="unit half">
      <a href="{{ post.url }}">
      <h2 class="align-left padding-right">{{ post.title }}</h2>
      </a>
      <span>{{ post.date | date_to_string }}</span>
    </div>
    <div class="unit half">
      {{ post.excerpt }}
    </div>
  </div> 
</div>
{% endfor %}