<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1">
    <meta content="musca web and webapp design. Makes simple, usable, functional and responsive web design" name="description">
    <meta content="musca,design,web,webapp,web app,web application,swedish,simple,useable,functional,landing pages,one page web design, web pages" name="keywords">
    <style>
    {% include above-the-fold.css %}
    </style>
		<script type="text/javascript">
    {% include head.js %}
		</script>
  	<!--[if lte IE 9]>
  		<link rel="stylesheet" href="/dist/ie.css" media="screen" title="lt IE10 css file" charset="utf-8" type="text/css" />
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
      <script src="https://github.com/inexorabletash/polyfill/blob/master/polyfill.min.js"></script>
  	<![endif]-->
		<noscript><link href="dist/css/main.css" rel="stylesheet"></noscript>
    <title>musca.se | {{ page.title }}</title>
  </head>
  <body>
    <div class="overlay-holder"></div>
    <section class="side-menu">
      <span class="close-side-menu float-left">
        <img width="18" height="18" src="/dist/img/close.svg">
      </span>
      <ul class="no-list-styles padding-top">
        <li><a href="/" data-pjax='content'>home</a></li>
        <li><a href="/blog/archive/" data-pjax='content'>all posts</a></li>
        <li>
          <p><b>about me</b></p>
          <p>
            Im a Swedish designer and web developer. 
            I have been making websites since 1998.
          </p>
          <p>
            I would love to talk to you so join me in my <a href="">Gitter channel</a> or send me a   <a href="">email</a> 
          </p>
        </li>
      </ul>
    </section>
    <header class="header content-wrapper">
      <nav>
        <a href="/" class="logo" data-pjax='content'>
          <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title>logo</title><path d="M0 0h7.984v32H0V0zm24.016 0H32v32h-7.984V0zM12.008 0h7.984v20.098h-7.984V0z" fill="#4A4A4A" fill-rule="evenodd"/></svg>
        </a>
        <aside class="greeting"></aside>
        <a href="#menu" class="open-side-menu">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>menu</title><path d="M39 18v6H0v-6h39zm0-9v6H0V9h39zm0-9v6H0V0h39z" fill="#4A4A4A" fill-rule="evenodd"/></svg>
          <!-- <img width="" height="21" src="/dist/img/menu.svg" class="bag"> -->
        </a>
      </nav>
    </header>
    <div id="content">
      {{ content }}
    </div>  
    <footer class="footer more-margin-top more-padding-top content-wrapper">
      <a href="/feed.xml">feed</a>
      {% include footer.html %}
    </footer>
  </body>
</html>