<!DOCTYPE html>
<html lang='en'>
  <head>
    <script>
      var _gaq=[['_setAccount','UA-21499673-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='http://www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    <link rel="shortcut icon" href="http://musca.se/favicon.ico">
    <title>
      {{ site.name }} | {{ page.title }}
    </title>
    <meta name="viewport" content="width=device-width">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/dist/css/blog.css">
    <script src="/dist/blog.js"></script>   
  </head>
  <body>
    <div class='site'>
      <div id='header'>
        {% if page.url == '/index.html' %}
          blog.<a href='http://musca.se'>musca.se</a>      
        {% else %}
          <a href='/'>blog.musca.se</a>       
        {% endif %}
        <div id="greeting"></div>
      </div>
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
