<!DOCTYPE html>
<html lang='en'>
  <head>
    <link rel="shortcut icon" href="http://musca.se/favicon.ico">
    <title>
      {{ site.name }} | {{ page.title }}
    </title>
    <meta name="viewport" content="width=device-width">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <script src="/scripts/jquery-latest.min.js"></script>
    <script src="/scripts/site.js"></script>   
  </head>
  <body>
    <div class='site'>
      <div id='header'>
        {% if page.url == '/index.html' %}
          blog.<a href='http://musca.se'>musca.se</a>      
        {% else %}
          <a href='/'>blog.musca.se</a>       
        {% endif %}
        <div id="greeting"></div>
      </div>
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
