---
layout: blog
---
<section class="header-wrapper {{ page.color }}" style="background-color:#{{ page.bgColor }}; background-image:url(/dist/img/{{ page.bgImg }});">
  <header class="header content-wrapper more-padding-bottom">
    <a href="/" class="logo">
      <!-- <img alt="musca logo" height="42" class="logo" src="/dist/img/logo-42x42.svg" width="42" height="42"> -->
    </a>
    <aside class="greeting"></aside>
  </header>
  {% if page.image %}
  <img src="/dist/img/{{ page.image }}" width="256" class="header-image float-center more-margin-top">
  {% endif %}
  <h1 class="padding-bottom">
    {{ page.title }}
  </h1>
</section>
<div class="post">
  {{ content }}
  <p class="date float-center margin-bottom">{{ page.date | date_to_string }}</p>
  <div class="content-wrapper">
    <div id="comments"></div>
    <div id="comments-wrapper">
      
      <ul id="comments-ul"></ul>
    </div>
  </div>
</div>
<ul id="related" class="padding-bottom">
  {% if site.related_posts.size == 1 %}
    <div class="title"><p>You maybe like to read this related post</p></div>
  {% else %}
    <div class="title"><p>You maybe like to read these related posts</p></div>
  {% endif %}
  {% for post in site.related_posts limit:3 %}
    {% assign match = false %}
    {% for category in post.categories %}
      {% if page.categories contains category %}
        {% assign match = true %}
      {% endif %}
    {% endfor %}
    {% if match %}      
      <span>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </span>        
    {% endif %}                       
  {% endfor %}
</ul>
<div id="disqus_thread" class="content-wrapper"></div>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES * * */
var disqus_shortname = 'musca';
    
/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>