.github {
  img {
    width: 80%;
  }
  ul {
    width: 100%;
    display: block;
    overflow: hidden;
  //  font-family: helvetica neue;
  }
  li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    span.language {
      color: $grey;
    }
  }
  li:last-child {
    border-width: 0px;
  }
  p {
    margin-bottom: 0;
  }
}
.gitter {
  width: 200px;
  margin-top: 4em;
}