$prim-font-stack:		'Cutive Mono', 'Monaco', 'Courier New' monospace;
$sec-font-stack:		'Inconsolata', 'Monaco', 'Courier New', monospace;
$line-height:       1.6;
$header-bg-color: 	#fbfbfb;
$link-color:        #65C7FD;
$grey:							#ccc;
$border: 						1px solid #ddd;
$less-padding:			1em;
$padding:						2em;
$margin:            3em;
$more-margin:       5em;
$more-padding:			5em;
$green:							rgba(104, 166, 52, .95);
$white:							#f4f4f4;
$blue:							#08c;
$p-font-size:       1.8em;

html, body, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  outline: 0 none;
  vertical-align: baseline;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}
html {
 font-size: 62.5%; 
}
body {
  font-family: $sec-font-stack;
  line-height: 1.43;
  transition: opacity 1s linear;
}
h1, h2, h3, h4, #intro, footer, .bob {
  font-family: $prim-font-stack;
  font-weight: 200;
  text-align: center;
  a {
    font-size: 100%;
  }
}
h1 {
  font-size: 4.8em;
  padding-top: 2em;
  padding-bottom: 0px;
  position: relative;
  text-align: center;
  font-weight: 400;
  color: #4f5566;
  letter-spacing: -2px;
  word-spacing: -6px;
}
h2 {
  font-size: 3.6em;
  padding-bottom: 30px;
  color: #222;
}
h3 {
  font-size: 2.4em;
}
h4 {
  font-size: 2.1em;
}
p {
  font-size: $p-font-size;
  margin-bottom: 1em;
  line-height: 30px;
  color: #222;
  word-spacing:  -.1em;;
  letter-spacing: .3px;
}
a {
  color: #00B1FC;
  font-size: 1.6em;
}
ul {
  list-style: none;
}
code {
  font-size: $p-font-size;
}
.border {
  border: $border;
}
/* margins */
.margin-top {
  margin-top: $margin;
}
.margin-right {
  margin-right: $margin;
}
  
.margin-bottom {
  margin-bottom: $margin;
}
.margin-left {
  margin-left: $margin;
}
.more-margin-top {
  margin-top: $more-margin;
}
.more-margin-right {
  margin-right: $more-margin;
}
  
.more-margin-bottom {
  margin-bottom: $more-margin;
}
.more-margin-left {
  margin-left: $more-margin;
}


/* paddings */
.less-padding-top {
  padding-top: $less-padding !important;
}
.less-padding-bottom {
  padding-bottom: $less-padding !important;
}
.padding-top {
  padding-top: $padding !important;
}
.padding-right {
  padding-right: $padding !important;
}
.padding-bottom {
  padding-bottom: $padding !important;
}
.padding-left {
  padding-left: $padding !important;
}
.more-padding-top {
  padding-top: $more-padding;
}
.more-padding-right {
  padding-right: $more-padding;
}
.more-padding-bottom {
  padding-bottom: $more-padding;
}
.content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1111px;
}
.leading {
  font-size: 2.1em;
  line-height: 1.5;
  display: block;
}
.justify {
  text-align: justify;
}
.block {
  display: block;
}
.float-center {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.align-center { text-align: center; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.pull-left    { float: left; }
.pull-right   { float: right; }
.uppercase	  { text-transform: uppercase; }
.bold					{ font-weight: bold;}
.inline-block { display: inline-block; }
.list-unstyled{ list-style: none;}
.small-text   { font-size: 1.4em;}
.smaller-text { font-size: 1.2em;}
.box-shadow {
  box-shadow: 0 2px 7px #ccc;
}

/* Buttons */

.border-button {
  border: 1px solid #65c7fd;
  text-decoration: none;
  padding: 9px 18px;
  text-decoration: none;
  border-radius: 30px;
}
.hire-me {
  width: 7em;
  font-size: $p-font-size;
}
/*  */
.highlight {
  padding-top: $more-padding;
  width: 60%;
  @extend .float-center;
}