.header {
  padding-top: 1em;
  height: 42px;
  line-height: 42px;
  position: absolute;
  width: 90%;
  top: 0;
  left: 5%;
  z-index: 3;
  .logo, aside {
    position: absolute;
  }
  aside {
    right: 40px;
    top: 1em;
    font-size: 1.5em;
    color: #555;
  }
}
.logo {
  width: 42px;
  height: 42px;
  top: 1em;
  left: 0;
  opacity: 1;
  background-image: url(../img/logo-42x42.svg);
  background-size: 42px;
  background-repeat: no-repeat;
  transition: all .5s linear;
}
.white .logo {
  width: 42px;
  height: 42px;
  top: 1em;
  left: 0;
  opacity: 1;
  background-image: url(../img/logo-no-bg.svg);
  background-size: 42px;
  background-repeat: no-repeat;
}
.intro {
  position: relative;
  text-align: center;
  h1 {
    font-size: 12.8em;
    line-height: 1.11;
  }
  p {
    padding-top: 1em;
    max-width: 768px;
    display: inline-block;
    font-size: 2.1em;
    a {
      font-size: 100%;
      text-decoration: none;
    }
  }
}
#loading .logo{
  z-index: 3;
  opacity: 1 !important;
  animation: loading 2s linear infinite;
}