.header {
  padding-top: $padding;
  height: 42px;
  position: relative;  
  z-index: 3;
  width: 100%;
  nav {
    width: 90%;
    margin: 0 auto;
    position: inherit;
    height: inherit;
  }
  .logo, 
  aside,
  .open-side-menu {
    position: absolute;
  }
  .logo {
    left: 0;
    svg {
      width: 24px;
    }
  }
  aside {
    right: 48px;
    line-height: 24px;
    font-size: 1.5em;
    color: $grey;
    text-transform: uppercase;
  }
  .open-side-menu {
    right: 0;
    top: 0;
    svg {
      transition: width .3s;
    }  
  }
  a {
    height: 24px;
    svg {
      height: inherit;
      > path {
        fill: $logo-color;
      }    
    }
  }  
}
.open-side-menu:hover,
.side-menu-showing {
  svg {
    width: 39px;
  }
} 
.white {
  .logo,
  .open-side-menu {
    svg {
      > path {
        fill: #fafafa;
      }    
    }
  }
}
.intro {
  position: relative;
  text-align: center;
  h1 {
    font-size: 12.8em;
    line-height: 1.11;
  }
  p {
    padding-top: 1em;
    max-width: 768px;
    display: inline-block;
    font-size: 2.1em;
    a {
      font-size: 100%;
      text-decoration: none;
    }
  }
}
#loading .logo{
  z-index: 3;
  opacity: 1 !important;
  animation: loading 2s linear infinite;
}