$prim-font-stack:		'Inconsolata','Cutive', 'Menlo', 'Monaco', 'Courier New' monospace;
$sec-font-stack:		'Cutive Mono', 'Menlo', 'Monaco', 'Courier New', monospace;
$line-height:       1.6;
$header-bg-color: 	#fbfbfb;
$link-color:        #65C7FD;
$grey:							#ccc;
$border: 						1px solid #ddd;
$less-padding:			1em;
$padding:						2em;
$margin:            3em;
$more-margin:       5em;
$more-padding:			5em;
$green:							rgba(104, 166, 52, .95);
$white:							#f4f4f4;
$blue:							#08c;
$light-blue:        #F1F4F9;
$p-font-size:       1.8em;