@import 'reset';
@import 'variable';
@import 'globals';
@import 'grid';
@import 'header';
@import 'portfolio';
@import 'github';
@import 'footer';

.white aside,
.white h1 {
  color: #fcfcfc;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-size: 80%;
}

.site {
  font-size: 115%;
  text-align: justify;
  width: 90%;
  margin: 1em auto 2em;
}

#header a:first-child{
  font-weight: bold;
  /*text-decoration: none;*/
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #111;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #111;
}

.date {
  width: 100px;
  text-align: center;
  margin-top: 40px;
  color: #B0B5D2;
}

.leading {
  padding-bottom: 30px;
  text-align: center;
  font-size: 21px;
  border-bottom: 1px solid #bdb0a8;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.home p, .post > p, .post > div,
.posts, .posts > p, .post > div,
div.comment, .post > *{
  margin: 1.5em auto;
  max-width: 42em;
}
/* standard */
.post > p:first-child,
.post div:first-child + p,
.post > img:nth-child(-n+1) {
  font-size: 24px;
  text-align: center;
  padding: 2em 0;
}
.post pre {
}

.post ul, .post ol {
  /*margin-left: 1.35em;*/
}

.post code {
  word-break: break-all;
  display: block;
  font-size: 13px;
  line-height: 1.2;
  padding: 10px;
}

.post pre code {
  border: none;
}

.img {
  padding: 0 !important;
  margin: 0 !important;
  max-width: 100% !important;
}

.post div img {
  width: 100%;
  display: block;
  margin: 40px auto 5px;
  height: auto;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
.post blockquote {
  text-align: center;
  font-style: italic;
}
.post blockquote p:before {
  content:"\201C";
}
.post blockquote p:after {
  content:"\201D";
}
.post blockquote p{
 padding: 5px 20px;
}
/*****************************************************************************/
/*
/* Misc
/*
/*****************************************************************************/

.text {
  word-wrap: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}
#rss {
  margin-bottom: 40px;
  background-color: orange;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
#comments-wrapper {
  width: 80%;
  max-width: 768px;
  opacity: 0;
}
#comments{
  opacity: 0;
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
  padding: 20px 0;
  max-width: 100%;
  text-align: center;
}
#comments a{
  text-decoration: none;
  font-style: italic;
}
.loaded{
  opacity: 1 !important;
  transition: opacity 1s ease;
}
#comments-ul ul li{
  padding-top: 20px;
  max-width: 100%;
  min-height: 120px;
}
#comments-ul,
#comments-form,
#auth{
  list-style: none;
  /*opacity: 0;*/
  margin: 0 auto;
}
#comments-form {
  float: right;
  overflow: hidden;
}
#comments-ul li{
  position: relative;
  padding-bottom: 4em;
  font-size: 18px;
}
ul#comments-ul .gravtar{
  width: 70px;
  height: auto;
  /*margin: 0 auto 10px;*/
  border-radius: 35px;
}
ul#comments-ul .gravtar,
ul#comments-ul .user {
  text-decoration: none;
}
.gravtar {
  width: 32%;
  text-align: center;
}
ul#comments-ul .user {
  font-family: Helvetica, Arial, sans-serif;
  /*font-weight: bold;*/
  width: 70px;
  text-align: center;
  padding-top: 10px;
}
#auth{
  width: 32%;
  margin: 0;
}
#auth .john-doe {
  border-radius: 50%;
  border: 1px solid rgb(153, 153, 153);
  width: 70px;
}
div.comment {
  width: 68%;
  text-align: left;
  margin: 0 0 20px 10px;
  position: absolute;
  top: 0;
  right: 0;
}
#comments-form{
  width: 68%;
  display: none;
  position: relative;
  min-height: 240px;
  border-top: 1px solid #FAFAFA;
  padding-top: 40px;
}
#comments-form.visable{
  display: block;
  opacity: 1;
}
#comments-form span{
  width: 32%;
}
#comments-form textarea{
  width: 68%;
  position: absolute;
  right: 0;
  top: 0;
}
#comments-form > div{
  border: 1px solid #999;
  width: 68%;
  min-height: 240px;
  /*position: absolute;*/
  float: right;
  right: 0;
  top: 0;
}
#comments-form {
    content : '\n';
    clear: both;
    display: block;
}
#related {
  list-style: none;
  padding-top: 40px;
  text-align: center;
}
#related li{
  width: 31%;
  padding: 0 1%;
  display: block;
  float: left;
  text-align: center;
}
#related > span,
#related > a{
  white-space: nowrap;
  line-height: 1.43;
}
#related li > a{
  font-size: 1.5em;
  text-decoration: none;
}
#related li p{
  margin: 5px 0 0 0;
  text-align: left;
}
#related > div.title:only-child{
  display: none;
}
#related span:first-child:after {
  content: ", ";
  margin:  0 4px 0 -2px;
}
#related a:last-child:before {
  content: " or ";
  /*margin: 0 5px;*/
  color: #333;
}
#related span:last-child:after {
  content: ".";
  margin-left: -3px;
}
.small {
  max-width: 420px;
}