@import 'reset';
@import 'variable';
@import 'grid';
@import 'globals';
@import 'header';
@import 'portfolio';
@import 'github';
@import 'flickr';
@import 'footer';

.content {
  padding-bottom: 80px;
}
#content {
  padding-top: 0px;
}
#content:after {
  clear: both;
}

@import 'mediaqueries';