@import 'reset';
@import 'variable';
@import 'grid';
@import 'globals';
@import 'header';
@import 'portfolio';
@import 'github';
@import 'flickr';
@import 'footer';

.content {
  padding-bottom: 80px;
}
.b-lazy {
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0;
}
.b-lazy.b-loaded {
  opacity: 1;
}
.white aside,
.white h1 {
  color: #fcfcfc;
}
.overlay-holder {
  opacity : 0;
}
.overlay{
  width: 100%;
  height: 100%;
  opacity : 0.2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #111;
  z-index: 2;
  -webkit-transition: opacity .2s ease-in-out;
     -moz-transition: opacity .2s ease-in-out;
          transition: opacity .2s ease-in-out;
}
.side-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -320px;
  width: 320px;
  height: 100%;
  background-color: #eee;
  overflow: hidden;
  transition: transform .25s linear;
  z-index: 3;
  transform: translateX(0px);
}
.side-menu-showing .side-menu, 
.side-menu-showing .content-wrapper,
.side-menu-showing .header-wrapper {
  transform: translateX(-320px);
}
.close-side-menu {
  padding: 15px;
}
.close-side-menu img{
  margin-top: 15px;
}
.side-menu li {
  margin: .6em 0;
}
.side-menu a {
  color: #444;
}
.side-menu a:hover {
  color: #000;
}
.side-menu ul {
  margin: 2em 0;
}
.side-menu > ul > li > a {
  font-weight: bold;
  color: #333;
}
.side-menu ul ul {
  margin: .5em 0 1em;
}
.side-menu ul {
  margin-left: 2em;
}
@import 'blog';
@import 'mediaqueries';