@import 'globals';
@import 'grid';
@import 'portfolio';
@import 'github';
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono|Inconsolata);

body {
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  transition: opacity 1s linear;
}
h1, h2, h3, h4, #intro, footer, .bob {
  font-family: 'Cutive Mono', Inconsolata, 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  text-align: center;
}
h1 {
  font-size: 4.8em;
  padding-top: 2em;
  padding-bottom: 0px;
  position: relative;
  text-align: center;
  font-weight: 400;
  color: #4f5566;
  letter-spacing: -2px;
  word-spacing: -6px;
}
h2 {
  font-size: 3.6em;
  padding-bottom: 30px;
  color: #222;
}
h3 {
  font-size: 2.4em;
}
h4 {
  font-size: 2.1em;
}
p {
  font-size: 1.8em;
  margin-bottom: 1em;
  line-height: 30px;
  color: #222;
  word-spacing: -1px;
  letter-spacing: .3px;
}
a {
  color: #00B1FC;
}
ul {
  list-style: none;
}
header#top {
  height: 48px;
  line-height: 4em;
  position: relative;
}
#logo {
  width: 42px;
  height: 42px;
}
header#top #greeting {
  float: right;
  line-height: 58px;
  font-size: 1.5em;
  color: #555;
}
.content-wrapper {
  max-width: 1500px;
  min-width: 300px;
  margin: 0 auto;
}
.content {
  padding-bottom: 80px;
}
#content {
  padding-top: 0px;
}
#content:after {
  clear: both;
}
#intro {
  height: 410px !important;
  position: relative;
  border-bottom: 1px dotted #fafafa;
}
#intro h2 {
  font-size: 2.1em;
}
.bob {
  display: block;
  background-color: orange;
  line-height: 1.4em;
  padding: 8px 15px;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 4px;
  color: #fff !important;
  text-decoration: none;
  font-weight: 200;
}
.bob:hover {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

#loading body {
  opacity: 0;
}
#logo {
  position: absolute;
  top: 10px;
  left: 0%;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  transition: all .5s linear;
}
#loading #logo,
#imgLoading {
  -webkit-animation: loading 2s linear infinite;
  -moz-animation: loading 2s linear infinite;
  animation: loading 2s linear infinite;
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: perspective(300px) rotateY(0deg);
  }
  to {
    -webkit-transform: perspective(300px) rotateY(-360deg);
  }
}
@-moz-keyframes loading {
  from {
    -moz-transform: perspective(300px) rotateY(0deg);
  }
  to {
    -moz-transform: perspective(300px) rotateY(-360deg);
  }
}
@keyframes loading {
  from {
    transform: perspective(300px) rotateY(0deg);
  }
  to {
    transform: perspective(300px) rotateY(-360deg);
  }
}
#quote-wrapper {
  padding-top: 50px;
}
#quotes p {
  padding: 10px;
}
#mtext > p {
  display: block;
  font-size: 2.1em;
  text-align: center;
}
#mtImages img {
  max-width: 100%;
}
#content-slider {
  display: inline-block;
  padding-bottom: 80px;
}
#content-slider H2 {
  padding-bottom: 40px;
}
#content-slider img {
  float: right;
}
#black-area {
  width: 100%;
  /*background: #000 url('/assets/images/black-radiant.png') repeat-y;*/
  background-color: #111;
  padding: 0;
}
#black-area h2 {
  padding: 40px 0 0;
  margin-bottom: 0px;
  color: #fff;
  text-shadow: none;
  font-weight: 400;
}
#black-area h3 {
  padding-bottom: 40px;
  color: #e9e9e9;
  text-shadow: none;
}
#black-area div {
  background: black url("/assets/images/chromebook-V2.jpg") no-repeat center bottom;
  height: 390px;
  background-color: #111;
  padding: 0;
}
#black-area img {
  /*margin-left: 50%;*/
  margin-left: 25%;
  margin-bottom: -4px;
}
#black-area .bob {
  float: right;
}

#sr-player {
  width: 100%;
  height: auto;
  padding-top: 20px;
  display: inline-block;
  position: relative;
}
#sr-player h3 {
  text-align: left;
}
#sr-player img:first-child {
  margin-left: 5%;
  height: auto;
}
/* Quotes stuff*/

#quote-wrapper {
  margin-top: -70px;
}
#what-ppl-say {
  clear: left;
  height: 65px;
  overflow: hidden;
  position: relative;
  margin: 0 0 -25px -20px;
  z-index: 89;
  font-size: 100%;
  background: url("/dist/img/arrows.png") no-repeat top left;
}
#what-ppl-say h3 {
  position: absolute;
  height: 55px;
  top: -55px;
  left: 0;
}
#quotes {
  width: 95%;
  font-size: 100%;
  text-align: center;
  margin: 0px auto -2px;
}
#quotes p {
  font-size: 2.1em;
  background-color: #fff;
  color: #111;
  border-radius: 4px;
  position: relative;
  margin-bottom: 0;
}
#quotes a:visited {
  color: #007AAF;
}
#quote-author {
  font-size: 12px;
  color: #333;
  /*text-align:left;*/
  margin-bottom: 40px;
}
#sr-player div,
#content-slider div {
  width: 50%;
  overflow: hidden;
}
#flickr {
  clear: both;
  padding-bottom: 20px;
  min-height: 220px;
  padding-top: 20px;
}
#flickr h3 {
  color: #111;
}
#flickr #imgLoading {
  width: 128px;
  height: 128px;
  margin: 40px auto;
}
#flickrLoader {
  display: none;
  width: 60px;
  height: 20px;
  margin: 40px auto;
  position: relative;
}
#flickrLoader .ball {
  position: absolute;
  left: 0px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  -webkit-animation: flickrBalls 1.6s linear infinite;
  -moz-animation: flickrBalls 1.6s linear infinite;
}
#flickrLoader .pink {
  background-color: #FF0084;
}
#flickrLoader .blue {
  background-color: #0063DC;
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
  animation-delay: .8s;
}
#flickr ul {
  margin-top: 10px;
}
#flickr a,
#flickr li {
  display: block;
  float: left;
  overflow: hidden;
  position: relative;
}
#flickr li {
  width: 16.66%;
}
#flickr a {
  width: 100%;
  height: 100%;
}
#flickr > img {
  display: block;
  margin: 20px auto;
  width: 100%;
  height: auto;
  max-width: auto;
}
#flickr > img#spinner {
  display: block;
  width: 48px;
  height: 48px;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
}
#flickr-feed img {
  height: 101%;
  width: 101%;
  opacity: 1;
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
}
#flickr-feed img[data-frz-src] {
  opacity: 0;
}
#flickr a#more-flickr-photos {
  float: right;
  text-align: right;
  text-decoration: none;
  font-size: 1.3em;
  margin-top: 5px;
  height: 20px;
}
#social,
footer li {
  display: inline-block;
  text-align: center;
  font-size: 1.4em;
}
#social li {
  float: left;
  padding: 0 10px;
  font-size: 16px;
  line-height: 24px;
  color: #4C4F55;
  border-right: dotted 1px #ccc;
}
#social li:last-child {
  border: 0;
}
#social li a {
  display: block;
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: #4C4F55;
  text-decoration: none;
}
.show {
  -webkit-animation: FadeIn 1s linear;
  -moz-animation: FadeIn 1s linear;
}
#footer {
  /*clear: left;*/
  margin: 30px 0;
}
#footer p {
  display: block;
  font-size: 1.4em;
}
#footer p {
  margin-top: 5px;
  color: #999;
}
@import 'mediaqueries';